{% extends 'base.html.twig' %}

{% block body_id 'mark_new' %}

{% block main %}
    <h1>{{ 'title.mark_new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.result) }}

    <button type="submit" class="btn btn-success">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_mark'|trans }}
    </button>
    {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-success'}}) }}
    <a href="{{ path('student_show', {id: student.id}) }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_student'|trans }}
    </a>
    {{ form_end(form) }}
{% endblock %}
